-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: taller
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id_cliente` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `email` varchar(120) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  UNIQUE KEY `uq_clientes_email` (`email`),
  KEY `idx_clientes_nombre` (`nombre`),
  CONSTRAINT `chk_id_cliente_pos` CHECK ((`id_cliente` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (1,'Ana Romero','600111222','ana.romero@example.com'),(2,'Bruno D├¡az','600222333','bruno.diaz@example.com'),(3,'Celia M├írquez','600333444','celia.marquez@example.com');
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items_orden`
--

DROP TABLE IF EXISTS `items_orden`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items_orden` (
  `id_item` int NOT NULL,
  `id_orden` int NOT NULL,
  `concepto` varchar(120) COLLATE utf8mb4_general_ci NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unit` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_item`),
  KEY `fk_item_orden` (`id_orden`),
  CONSTRAINT `fk_item_orden` FOREIGN KEY (`id_orden`) REFERENCES `ordenes_trabajo` (`id_orden`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `items_orden_chk_1` CHECK ((`cantidad` > 0)),
  CONSTRAINT `items_orden_chk_2` CHECK ((`precio_unit` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items_orden`
--

LOCK TABLES `items_orden` WRITE;
/*!40000 ALTER TABLE `items_orden` DISABLE KEYS */;
INSERT INTO `items_orden` VALUES (1000,100,'Aceite 5W30',4,9.50),(1001,100,'Filtro aceite',1,12.00),(1002,100,'Filtro aire',1,15.00),(1003,101,'Pastillas freno (juego)',1,45.00),(1004,101,'Mano de obra (h)',2,30.00);
/*!40000 ALTER TABLE `items_orden` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ordenes_trabajo`
--

DROP TABLE IF EXISTS `ordenes_trabajo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordenes_trabajo` (
  `id_orden` int NOT NULL,
  `fecha` date NOT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `estado` enum('ABIERTA','EN_PROCESO','CERRADA','ANULADA') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'ABIERTA',
  `id_vehiculo` int NOT NULL,
  PRIMARY KEY (`id_orden`),
  KEY `fk_orden_vehiculo` (`id_vehiculo`),
  KEY `idx_orden_estado` (`estado`),
  KEY `idx_orden_fecha` (`fecha`),
  CONSTRAINT `fk_orden_vehiculo` FOREIGN KEY (`id_vehiculo`) REFERENCES `vehiculos` (`id_vehiculo`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_id_orden_pos` CHECK ((`id_orden` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordenes_trabajo`
--

LOCK TABLES `ordenes_trabajo` WRITE;
/*!40000 ALTER TABLE `ordenes_trabajo` DISABLE KEYS */;
INSERT INTO `ordenes_trabajo` VALUES (100,'2025-11-01','Cambio de aceite y filtros','CERRADA',10),(101,'2025-11-05','Pastillas de freno delanteras','EN_PROCESO',11),(102,'2025-11-09','Diagn├│stico de ruidos','ABIERTA',12);
/*!40000 ALTER TABLE `ordenes_trabajo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_ordenes_totales`
--

DROP TABLE IF EXISTS `v_ordenes_totales`;
/*!50001 DROP VIEW IF EXISTS `v_ordenes_totales`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_ordenes_totales` AS SELECT 
 1 AS `id_orden`,
 1 AS `fecha`,
 1 AS `descripcion`,
 1 AS `estado`,
 1 AS `id_vehiculo`,
 1 AS `matricula`,
 1 AS `marca`,
 1 AS `modelo`,
 1 AS `id_cliente`,
 1 AS `nombre_cliente`,
 1 AS `total`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vehiculos`
--

DROP TABLE IF EXISTS `vehiculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehiculos` (
  `id_vehiculo` int NOT NULL,
  `matricula` varchar(15) COLLATE utf8mb4_general_ci NOT NULL,
  `marca` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `modelo` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `id_cliente` int NOT NULL,
  PRIMARY KEY (`id_vehiculo`),
  UNIQUE KEY `uq_vehiculos_matricula` (`matricula`),
  KEY `fk_vehiculo_cliente` (`id_cliente`),
  KEY `idx_vehiculos_mat` (`matricula`),
  CONSTRAINT `fk_vehiculo_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehiculos`
--

LOCK TABLES `vehiculos` WRITE;
/*!40000 ALTER TABLE `vehiculos` DISABLE KEYS */;
INSERT INTO `vehiculos` VALUES (10,'1234-JJJ','Toyota','Corolla',1),(11,'5678-DFG','Piagio','Ibiza',2),(12,'9101-HIJ','Renault','Clio',3);
/*!40000 ALTER TABLE `vehiculos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'taller'
--

--
-- Dumping routines for database 'taller'
--

--
-- Final view structure for view `v_ordenes_totales`
--

/*!50001 DROP VIEW IF EXISTS `v_ordenes_totales`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_ordenes_totales` AS select `o`.`id_orden` AS `id_orden`,`o`.`fecha` AS `fecha`,`o`.`descripcion` AS `descripcion`,`o`.`estado` AS `estado`,`o`.`id_vehiculo` AS `id_vehiculo`,`v`.`matricula` AS `matricula`,`v`.`marca` AS `marca`,`v`.`modelo` AS `modelo`,`v`.`id_cliente` AS `id_cliente`,`c`.`nombre` AS `nombre_cliente`,coalesce(sum((`i`.`cantidad` * `i`.`precio_unit`)),0) AS `total` from (((`ordenes_trabajo` `o` join `vehiculos` `v` on((`v`.`id_vehiculo` = `o`.`id_vehiculo`))) join `clientes` `c` on((`c`.`id_cliente` = `v`.`id_cliente`))) left join `items_orden` `i` on((`i`.`id_orden` = `o`.`id_orden`))) group by `o`.`id_orden` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-11 12:08:13
